    <% if (struttura.colazione == 1) { %>
        <input class="checkbox-booking" type="checkbox" name="booking1" id="booking-1">
        <label class="for-checkbox-booking" for="booking-1">
        </i><span class="text">Colazione</span> <i class="fas fa-coffee"></i>
        </label>
    <% } else { %>
        <input class="checkbox-booking" type="checkbox" name="booking1" id="booking-1" checked>
        <label class="for-checkbox-booking" for="booking-1">
        </i><span class="text">Colazione</span> <i class="fas fa-coffee"></i>
        </label>
    <% } %>
    <% if (struttura.wifi == 1) { %>
    <input class="checkbox-booking" type="checkbox" name="booking2" id="booking-2" >
    <label class="for-checkbox-booking" for="booking-2">
     <span class="text">wifi</span><i class="fas fa-wifi"></i>
    </label>
    <% } else { %>
    <input class="checkbox-booking" type="checkbox" name="booking2" id="booking-2" checked>
    <label class="for-checkbox-booking" for="booking-2">
    <span class="text">wifi</span><i class="fas fa-wifi"></i>
    </label>    
    <% } %>
    <% if (struttura.piscina == 1) { %>
    <input class="checkbox-booking" type="checkbox" name="booking3" id="booking-3" >
    <label class="for-checkbox-booking" for="booking-3">
     <span class="text">piscina</span><i class="fas fa-swimming-pool"></i>
    </label>
    <% } else { %>
    <input class="checkbox-booking" type="checkbox" name="booking3" id="booking-3" checked>
    <label class="for-checkbox-booking" for="booking-3">
    <span class="text">piscina</span><i class="fas fa-swimming-pool"></i>
    </label>    
    <% } %>
    <% if (struttura.giardino == 1) { %>
    <input class="checkbox-booking" type="checkbox" name="booking4" id="booking-4" >
    <label class="for-checkbox-booking" for="booking-4">
    <span class="text">giardino</span><i class="fab fa-pagelines"></i>
    </label>
    <% } else { %>
    <input class="checkbox-booking" type="checkbox" name="booking4" id="booking-4" checked>
    <label class="for-checkbox-booking" for="booking-4">
    <span class="text">giardino</span><i class="fab fa-pagelines"></i>
    </label>
    <% } %>
    <% if (struttura.parcheggio == 1) { %>
    <input class="checkbox-booking" type="checkbox" name="booking5" id="booking-5" >
    <label class="for-checkbox-booking" for="booking-5">
     <span class="text">parcheggio</span><i class="fas fa-parking"></i>
    </label>
    <% } else { %>
    <input class="checkbox-booking" type="checkbox" name="booking5" id="booking-5" checked>
    <label class="for-checkbox-booking" for="booking-5">
     <span class="text">parcheggio</span><i class="fas fa-parking"></i>
    </label>    
    <% } %>
    <% if (struttura.tv == 1) { %>
    <input class="checkbox-booking" type="checkbox" name="booking6" id="booking-6" >
     <label class="for-checkbox-booking" for="booking-6">
      <span class="text">tv</span><i class="fas fa-tv"></i>
     </label>
     <% } else { %>
    <input class="checkbox-booking" type="checkbox" name="booking6" id="booking-6" checked>
    <label class="for-checkbox-booking" for="booking-6">
    <span class="text">tv</span><i class="fas fa-tv"></i>
    </label>
     <% } %>
     <% if (struttura.libri == 1) { %>
     <input class="checkbox-booking" type="checkbox" name="booking7" id="booking-7" >
    <label class="for-checkbox-booking" for="booking-7">
     <span class="text">libri</span> <i class="fas fa-book"></i><i class="fas fa-book"></i>
    </label>
    <% } else { %>
    <input class="checkbox-booking" type="checkbox" name="booking7" id="booking-7" checked>
    <label class="for-checkbox-booking" for="booking-7">
    <span class="text">libri</span> <i class="fas fa-book"></i><i class="fas fa-book"></i>
    </label>    
    <% } %>
    <% if (struttura.palestra == 1) { %>
    <input class="checkbox-booking" type="checkbox" name="booking8" id="booking-8" >
    <label class="for-checkbox-booking" for="booking-8">
     <span class="text">palestra</span><i class="fas fa-dumbbell"></i>
    </label>
    <% } else { %>
    <input class="checkbox-booking" type="checkbox" name="booking8" id="booking-8" checked>
    <label class="for-checkbox-booking" for="booking-8">
    <span class="text">palestra</span><i class="fas fa-dumbbell"></i>
    </label>
    <% } %>
    <% if (struttura.animali == 1) { %>
    <input class="checkbox-booking" type="checkbox" name="booking9" id="booking-9" >
    <label class="for-checkbox-booking" for="booking-9">
     <span class="text">Animali Ammessi</span><i class="fas fa-paw"></i>
    </label>
    <% } else { %>
    <input class="checkbox-booking" type="checkbox" name="booking9" id="booking-9" checked>
    <label class="for-checkbox-booking" for="booking-9">
     <span class="text">Animali Ammessi</span><i class="fas fa-paw"></i>
    </label>    
    <% } %>
    <% if (struttura.cucina == 1) { %>
    <input class="checkbox-booking" type="checkbox" name="booking10" id="booking-10" >
    <label class="for-checkbox-booking" for="booking-10">
     <span class="text">Cucina</span><i class="fas fa-utensils"></i>
    </label>
    <% } else { %>
    <input class="checkbox-booking" type="checkbox" name="booking10" id="booking-10" checked>
    <label class="for-checkbox-booking" for="booking-10">
     <span class="text">Cucina</span><i class="fas fa-utensils"></i>
    </label>    
    <% } %>
    <% if (struttura.fumare == 1) { %>
    <input class="checkbox-booking" type="checkbox" name="booking11" id="booking-11">
    <label class="for-checkbox-booking" for="booking-11">
     <span class="text">Fumare</span><i class="fas fa-smoking-ban"></i>
    </label>
    <% } else { %>
    <input class="checkbox-booking" type="checkbox" name="booking11" id="booking-11" checked>
    <label class="for-checkbox-booking" for="booking-11">
     <span class="text">Fumare</span><i class="fas fa-smoking-ban"></i>
    </label>    
    <% } %>
    <% if (struttura.doccia == 1) { %>
    <input class="checkbox-booking" type="checkbox" name="booking12" id="booking-12">
    <label class="for-checkbox-booking" for="booking-12">
     <span class="text">Bagno Privato</span><i class="fas fa-shower"></i>
    </label>
    <% } else { %>
    <input class="checkbox-booking" type="checkbox" name="booking12" id="booking-12" checked>
    <label class="for-checkbox-booking" for="booking-12">
     <span class="text">Bagno Privato</span><i class="fas fa-shower"></i>
    </label>    
    <% } %>
    <% if (struttura.condizionatore == 1) { %>
      <input class="checkbox-booking" type="checkbox" name="booking13" id="booking-13">
      <label class="for-checkbox-booking" for="booking-13">
       <span class="text">Aria condizionata</span><i class="fas fa-wind"></i>
      </label>
    <% } else { %>
    <input class="checkbox-booking" type="checkbox" name="booking13" id="booking-13" checked>
    <label class="for-checkbox-booking" for="booking-13">
    <span class="text">Aria condizionata</span><i class="fas fa-wind"></i>
    </label>
    <% } %>